@model IList<ListRoleViewModel>
@{
    ViewData["Title"] = "Get All Roles";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Roles</h1>
@if (Model.Any())
{
    <form asp-controller="Person" asp-action="GetAllPersons" method="get">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Role name</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.Count();i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model[i].Name </td>
                        <td>
                            <button class="btn-primary" asp-action="UpdateRole" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].Id">Update</button>
                            <button class="btn-danger" asp-action="DeleteRole" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <button class="btn-primary" style="width:auto">
                Create Role
            </button>
        </div>
    </div>

}

