@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<h3>@ViewData["Message"]</h3>

    @*<section class="py-5 bg-image-full" style="background-image: url('https://digital.ulsterbank.ie/content/dam/Ulster/hero-images/ni-region/image.dim.667.ub_hero_ni_20150915_0002.jpg');">
        <div style="height: 200px; width:inherit"></div>
    </section>*@
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/bank.jfif" alt="Bank" style="width:1960px; height:400px" class="img-fluid" />
            <div class="carousel-caption" role="option">
                <p>
                    Online transactions.
                </p>
            </div>
        </div>
        <div class="carousel-item ">
            <img src="~/images/money.jfif" alt="Money" style="width:1960px; height:400px" class="img-fluid" />
            <div class="carousel-caption" role="option">
                <p>
                    Transfer money.
                </p>
            </div>
        </div>
        <div class="carousel-item ">
            <img src="~/images/ourBank.jfif" alt="OurCompany" style="width:1960px; height:400px" class="img-fluid" />
            <div class="carousel-caption" role="option">
                <p>
                    Our company
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container">

    <h1 class="my-4">Welcome to online Bank</h1>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Services</h4>
                <div class="card-body">
                    <p class="card-text">This service will help you to transfer money. You need to know your account number and account number of recipient</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Transaction" asp-action="ExecuteTransaction" asp-area="" class="btn btn-primary">Click here to run</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Services</h4>
                <div class="card-body">
                    <p class="card-text">Up to date information about our companies from Wikipedia</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Company" asp-action="Index" asp-area="" class="btn btn-primary">Clock here to view</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Api resources</h4>
                <div class="card-body">
                    <a asp-controller="ApiAuthentication" asp-action="SignIn" asp-area="" >Clock here to log in with jwt token</a>
                </div>
                <div class="card-footer">
                    <a asp-controller="ApiBankAccount" asp-action="GetAllAccounts" asp-area="" class="btn btn-primary">Clock here to get api resource</a>
                </div>
            </div>
        </div>
    </div>
   </div>
