@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
</head>



    <section class="py-5 bg-image-full" style="background-image: url('https://images.squarespace-cdn.com/content/v1/523a95e4e4b0a03148f1d4c6/1563315145372-Z9QR5QF3R34OXM5QBECL/ke17ZwdGBToddI8pDm48kEe-omBfLtHst8S2cafrg9YUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc2iKC96Xj0B7pld3_LCJ7sx09zRK2048cMF9_N5j29LCLvuO4eNTBwJmIrBGFBu3u/US+Bank+Tower.jpg?format=1500w');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div style="height: 200px;"></div>
    </section>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Welcome to online Bank</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Services</h4>
                <div class="card-body">
                    <p class="card-text">This service will help you to transfer money. You need to know your account number and account number of recipient</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Transaction" asp-action="ExecuteTransaction" asp-area=" class="btn btn-primary">Click here to run</a>
                </div>
            </div>
        </div>
        @*<div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>*@
   

</div>
