@model List<BankTransaction.Models.DTOModels.AccountDTO>
@{
    ViewData["Title"] = "My accounts";
    ViewBag.Index = 0;
}
<form asp-controller="Account" asp-action="MyAccounts" method="get">
    <div class="card  mb-4">
        <div class="card-header py-3">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">All accounts</h6>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Number</th>
                                <th scope="col">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model)
                            {
                                <tr>
                                    <th scope="row">@(ViewBag.Index += 1)</th>
                                    <td>@account?.Number </td>
                                    <td>@account?.Balance </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No account created yet
                        </div>
                    </div>
                }
            </div>
        </div>

</form>