@model LoginViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";// <link href="~/css/styleForLogin.css" rel="stylesheet" />

}
@*<head>
    <link href="~/css/styleForLogin.css" rel="stylesheet" />
</head>*@
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="post" asp-controller="ApiAuthentication" asp-action="SignIn" asp-area=""
                          asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label asp-for="Email">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword" asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>