@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link href="~/css/styelForRegister.css" rel="stylesheet" />
    </head>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-label-group">
                            <input asp-for="UserName" type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                            <label asp-for="UserName" for="inputUserame">Username</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name" required>
                            <label asp-for="Name"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Surname" type="text" class="form-control" placeholder="Surname" required>
                            <label asp-for="Surname"></label>
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="LastName" type="text" class="form-control" placeholder="LastName" required>
                            <label asp-for="LastName"></label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="0588200810" required>
                            <label asp-for="PhoneNumber"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="date" asp-for="DataOfBirth" class="form-control" required>
                            <label asp-for="DataOfBirth"></label>
                            <span asp-validation-for="DataOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" asp-for="Email" class="form-control" placeholder="Email address" required>
                            <label for="inputEmail" asp-for="Email"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword" asp-for="Password"></label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" asp-for="ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
                            <label for="inputConfirmPassword" asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                        <a class="d-block text-center mt-2 small" asp-controller="Account" asp-action="Login" asp-area="Identity">Sign In</a>

                        @*<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


